{% extends 'email.html.twig' %}
{% block body %}
Bonjour {{ user.username }},
Cliquez là pour réinitialiser votre mot de passe&nbsp;:
<a href="{{ url('checkEmailToken', {"email":user.email, "token":user.token}) }}">
    {{ url('checkEmailToken', {"email":user.email, "token":user.token}) }}</a>
{% endblock %}
